.layout {
	display: grid;
	grid-template-rows: 60px auto 50px;
	gap: 10px;
	border-left: 2px solid #3a3636;
	border-right: 2px solid #3a3636;
}

.title {
	display: grid;
	grid-template-columns: auto 50px;
	cursor: default;
	font-size: xx-large;
	text-align: center;
	align-items: center;
	gap: 10px;
	border-bottom: 2px solid #3a3636;
}

.title img {
	cursor: pointer;
	width: 25px;
}

.msg_form {
	display: flex;
	align-content: center;
	justify-content: space-around;
}

.msg_form input {
	font-family: "Courier New", Courier, monospace;
	background-color: #fdd05d;
	height: 50%;
	width: 85%;
	border: 2px solid #3a3636;
	border-radius: 10px;
	font-weight: bolder;
	align-self: center;
}

.msg_form button {
	font-family: blippoblack;
	font-size: large;
	background-color: #fdd05d;
	height: 50%;
	align-self: center;
}
