.layout {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.search_bar {
	display: flex;
	gap: 5px;
	height: 26px;
	align-items: center;
	justify-content: center;
	border: 2px solid #363636;
	border-radius: 10px;
}

.search_bar img {
	height: 25px;
	width: 25px;
	align-self: center;
}
.search_bar input {
	height: 20px;
	background: none;
	border: none;
	border-radius: 10px;
	flex-grow: 1;
	outline: inherit;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
}

.list {
	height: 81vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.category {
	font-family: "Courier New", Courier, monospace;
	font-size: large;
	font-weight: bolder;
	text-align: center;
	border-bottom: 1px solid #363636;
}

.quit {
	display: flex;
	justify-content: center;
	font-family: "Courier New", Courier, monospace;
	font-size: large;
	font-weight: bolder;
	background-color: red;
	border-radius: 10px;
	color: #f4edde;
	padding-block: 5px;
	padding-inline: 10px;
	cursor: pointer;
}
