.modal_layout {
	height: 35vh;
}

.layout {
	display: flex;
	flex-direction: column;
}

.settings {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: x-large;
}

.settings input {
	margin-bottom: 10px;
}

.settings button {
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
	background-color: #3a3636;
	color: #fdd05d;
	border: 2px solid #3a3636;
	border-radius: 10px;
	width: fit-content;
	align-self: center;
}

.delete_chan {
	display: block;
	justify-self: center;
	align-self: center;
	text-align: center;
	background-color: red;
	border-radius: 10px;
	color: #f4edde;
	margin-top: 15px;
	padding-block: 5px;
	padding-inline: 10px;
	cursor: pointer;
	width: 120px;
}
