.layout_chat_settings {
	display: flex;
	flex-direction: column;
}

.settings {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-size: x-large;
}

.settings .check {
	width: auto;
	margin: 3px;
}

.settings input {
	margin: 3px;
	margin-bottom: 10px;
	height: 20px;
	background: none;
	border: 2px solid #3a3636;
	border-radius: 10px;
	outline: inherit;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
	width: 176px;
}

.layout_chat_settings button {
	display: block;
	font-family: "Courier New", Courier, monospace;
	font-size: large;
	font-weight: bolder;
	border-radius: 10px;
	align-self: center;
	padding-block: 5px;
	padding-inline: 10px;
	margin-bottom: 10px;
	width: 176px;
}

.save {
	margin-top: 10px;
	background-color: #3a3636;
	color: #fdd05d;
	border: 2px solid #3a3636;
	cursor: pointer;
}

.delete_chan {
	background-color: red;
	border: 2px solid red;
	color: #f4edde;
	cursor: pointer;
}
