.layout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	background-color: #3a3636;
	color: #f4edde;
}

.layout a {
	color: inherit;
	text-decoration: none;
}

.links {
	padding-left: 2rem;
	padding-right: 2rem;
	width: auto;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.pages {
	list-style-type: none;
	padding-inline-start: 0px;
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
