.chan_item {
	flex: 0 0 auto;
	font-family: inherit; /* 1 */
	font-size: xx-large; /* 1 */
	height: 60px;
	cursor: pointer;
	margin: 0; /* 2 */
	background-color: #fdd05d;
	color: #3a3636;
	border: 1px #3a3636 solid;
	border-radius: 10px;
}
