.form {
	margin-top: 50px;
	margin-inline: auto;
	width: 300px;
	height: 150px;
	border-radius: 20px;
	box-shadow: 0 0 8px 8px #3a36367a;
	display: flex;
	flex-flow: column;
	padding-block: 2rem;
	justify-content: space-between;
	text-align: center;
	row-gap: 20px;
}

.form label {
	font-size: 130%;
}

.form input {
	outline: none;
	width: 9rem;
	background-color: #f4edde;
	color: #3a3636;
	border: solid 3px #3a3636;
	border-radius: 20px;
	align-self: center;
	text-align: center;
	font-family: blippoblack;
	font-size: xx-large;
}

.form button {
	text-decoration: none;
	cursor: pointer;
	align-self: center;
	width: 10rem;
	height: 3rem;
	background-color: #3a3636;
	font-family: inherit;
	font-size: large;
	color: #f4edde;
	border: solid 0px;
	border-radius: 20px;
	justify-content: center;
	margin: auto;
}
