

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#channels_list {
  width: 20%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

#channel_group {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#channel_settings_group {
  display: flex;
  width: 20%;
  flex-direction: column;
}

#channel_members {
  display: flex;
  flex-direction: column;
}

.img {
  height: 50px;
  width: 50px;
}

.memberItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profilePicture_username {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addChannel {
  font-family: blippoblack;
  height:50px;
  width:100%;
  font-size: 35px;
  box-sizing: border-box;
  color: white;

  /* Jet */

  background: #3a3636;
  /* Jet */

  border: 1px solid #3a3636;
  border-radius: 15px;
}


/* .actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
} */


.addChannel h1 {
  box-sizing: border-box;
  background: white;
}


.channelItem {
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 90px;
  width: 100%;
  display: block;
  text-align: center;
  
}

.chanName button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  color: #3a3636;
  padding: 0.5rem 1.5rem;
  border: none;
  font-weight: bold;
  font-size:30px;
  text-align: center;
}

.channelItem button:hover,
.channel button:active {
  background-color: rgb(124, 111, 111);
  border-color: rgb(124, 111, 111);
  height: 53px;
  width:100%;
  border-radius: 8px;
}


.openedChannel {
  width: 70%;
}

