.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#channels_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
