.list {
	margin-block: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.logout {
	background: red;
	height: 30px;
	width: 15%;
	border: solid 2px white;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
	font-size: large;
	color: white;
	cursor: pointer;
}
