.success_layout {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;
	background-color: greenyellow;
}

.stats {
	align-self: center;
	display: flex;
	justify-content: space-between;
}

.stats_title {
	align-self: center;
}
