.resume {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}

.modal_layout {
	height: fit-content;
}

.settings {
	margin-inline: 15px;
	padding-bottom: 5px;
	height: 51vh;
	overflow: scroll;
}

.settings {
	position: fixed;
	z-index: auto;
	width: 40px;
	height: 40px;
	filter: invert(15%) sepia(6%) saturate(679%) hue-rotate(314deg)
		brightness(88%) contrast(78%) drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
	margin-top: 2vh;
	margin-left: 2vh;
}

.settings:hover {
	filter: invert(15%) sepia(6%) saturate(679%) hue-rotate(314deg)
		brightness(88%) contrast(78%);
}

.badge {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin-top: 2vh;
}

.username {
	font-family: "Courier New", Courier, monospace;
	font-size: xx-large;
	font-weight: bolder;
}

.interact {
	display: flex;
	margin-inline: 35%;
	margin-block: 10px;
	justify-content: space-between;
	align-items: center;
}

.button_div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 2px solid #3a3636;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}

.button_img {
	width: 26px;
	height: 26px;
	align-self: center;
	filter: invert(21%) sepia(5%) saturate(495%) hue-rotate(318deg)
		brightness(86%) contrast(90%);
	cursor: inherit;
}

.infos {
	display: flex;
	justify-content: space-around;
	margin-block: 10px;
}

.try {
	width: 50%;
	background-color: purple;
}
